<%= form_for @candidate, :html => { :multipart => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :technology, :class => 'control-label' %>
    <div class="controls">
    <%= f.select :technology, Technology.all.collect(&:name), {},:multiple => true %>
  </div>
  <div class="control-group">
    <%= f.label :sourcing_partner, :class => 'control-label' %>
    <div class="controls">
    <%= f.select :source_partner, SourcingPartner.all.collect(&:name) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :role, :class => 'control-label' %>
    <div class="controls">
    <%= f.select :role, ['Product Owner','Project Manager','Software Developer','Software Architect','Software Tester'] %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :round, :class => 'control-label' %>
    <div class="controls">
    <%= f.select :round, ['Initial Screening','Group Discussion','Interview 1','Interview 2'] %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date_of_interview, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :date_of_interview, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :interviewer, :class => 'control-label' %>
    <div class="controls">
    <%= f.select :interviewer, Interviewer.all.collect(&:name), {},:multiple => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :CV, :class => 'control-label' %>
    <div class="controls">
 <%= f.file_field :cv %>    </div>
  </div>
  
  
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                candidates_path, :class => 'btn' %>
  </div>
<% end %>
