
<a href="http://localhost:3000/candidates"><input type="submit" value="Go to Candidates"></a>
<a href="http://localhost:3000/interviewers"><input type="submit" value="Go to Interviewer"></a>
<a href="http://localhost:3000/technologies"><input type="submit" value="Go to Technology"></a>
<br/><br/>
<%- model_class = SourcingPartner -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<form class="form-search">

    <%= text_field_tag :name, params[:name] %>

    <button type="submit" class="btn">Search</button>
    </form>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:introduction) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sourcing_partners.each do |sourcing_partner| %>
      <tr>
        <td><%= link_to sourcing_partner.id, sourcing_partner_path(sourcing_partner) %></td>
        <td><%= sourcing_partner.name %></td>
        <td><%= sourcing_partner.introduction %></td>
        <td><%=l sourcing_partner.created_at %></td>
        <td>
                        <%= link_to 'Show', sourcing_partner %>

          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_sourcing_partner_path(sourcing_partner), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      sourcing_partner_path(sourcing_partner),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_sourcing_partner_path,
            :class => 'btn btn-primary' %>
